body{
    background-color: #fff1e6; 
    color:#756158; 
    line-height: 1.5;
    font-family: open sans-serif;
    margin: 0;
    }
h2{
    font-size: 1rem;
    margin-bottom: 80px;
    }
a {
    color:#756158; 
    font-style: italic;
    }
img {
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    border: 3px #352b27 solid;
}
strong {
    font-style: italic;
}
.orsi {
    background-image: url(assets/travel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
h1 {
    text-align: center;
    color: white;
    padding: 50px 50px;
    margin: 0;
    font-style: italic;
}
li {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 13px 20px;
}
ul {
    margin-top: 0;
    margin-bottom: 50px;
    background-color: #756158;
    padding: 0;
    height: 50px;
    text-align: center;
    width: 100%;
}
h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-style: italic;
}

.travelpics {
    display: inline-block;
    height: 300px;
    padding: 0;
    margin: 0;
}
.travelpics img {
    width: 200px;
    border: none;
}
.menu a {
    color: white;
    text-decoration: none;
}